/* @supports (animation-range: 0vh 20vh) {
  @keyframes slide-legend {
    from {
      top: 250px;
      left: calc(50% - (50ch / 2));
      width: 50ch;
    }
    to {
      left: calc(100vw - var(--legendw) - 70px);
    }
  }

  @keyframes expand-ghost {
    from {
      height: 500px;
    }
    to {
      height: ;
    }
  }

  #legend {
    animation: slide-legend linear forwards;
    animation-timeline: scroll();
    animation-range: 0vh 90vh;
  }
} */

#legend {
  position: sticky;
  --legendw: 50ch;
  width: var(--legendw);
  padding: 20px;
  background-color: #fdfdfd;
  z-index: 1;
  border: 1px solid #aaa;
  border-radius: 0.5em;
}

#legend h3 {
  margin: 0;
  margin-bottom: 20px;
  text-align: left;
}

#legend .grid {
  display: grid;
  grid-template-columns: 35px auto;
  grid-gap: 10px;
  align-items: center;
}

#legend .abbv {
  display: none;
}

#legend .colorbox {
  width: 20px;
  height: 20px;
  margin: 5px 10px;
  opacity: 0.5;
  border-radius: 0.3em;
  border: 1px solid #444;
  transition: 0.2s;
}

#legend .colorbox:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* concepts */
.concept0 {
  background-color: rgb(255, 135, 135);
}

.concept1 {
  background-color: rgb(135, 197, 255);
}

.concept2 {
  background-color: rgb(135, 255, 137);
}

.concept3 {
  background-color: rgb(255, 191, 135);
}

.concept4 {
  background-color: rgb(243, 255, 135);
}

.concept5 {
  background-color: rgb(135, 255, 253);
}

.concept6 {
  background-color: rgb(189, 135, 255);
}

.legend-item:not(:last-child) {
  margin-bottom: 1px solid #ccc;
}
