@font-face {
  font-family: "Lusitana";
  src: url("/Lusitana-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lusitana-Bold";
  src: url("/Lusitana-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}

:root {
  font-family: "Lusitana", sans-serif;
  font-size: 1.1rem;
}

strong {
  font-family: "Lusitana-Bold", sans-serif;
}

body {
  color: #444;
  background-color: #fafafa;
}

body > * {
  margin-left: auto;
  margin-right: auto;
}

h1,
h3 {
  text-align: center;
}

h1 {
  margin-bottom: 0;
}

p {
  width: 60ch;
  line-height: 1.5;
  text-indent: 4ch;
}

#content {
  transition: 0.2s;
  position: relative;
  padding: 20px;
  width: min-content;
}

.note {
  background: #eee;
  border-radius: 1em;
  padding: 20px;
}

.note p,
p.note {
  text-indent: 0%;
}

li {
  margin: 2px;
}
