@font-face {
  font-family: "Inter";
  src: url("/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
  font-family: "Inter", sans-serif;
}

body {
  color: #444;
  background-color: #fafafa;
}

body > * {
  margin-left: auto;
  margin-right: auto;
}

h1,
h3 {
  text-align: center;
}

h1 {
  margin-bottom: 0;
}

p {
  width: 60ch;
  line-height: 1.5;
  text-indent: 4ch;
}

#content {
  position: relative;
  padding: 20px;
  width: min-content;
}

.note {
  background: #eee;
  border-radius: 1em;
  padding: 20px;
}
